<!DOCTYPE html>
html(lang="ru")
  head
    include ./components/Head/Head.pug
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel='stylesheet', href='./index.scss')
    title Pigeon
  body
    div(id="root")
      script(src="./index.js" type="module")
