<!DOCTYPE html>
html(lang="ru")
  head
    include ../../components/Head/Head.pug
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel='stylesheet', href='./Error.scss') 
    title Pigeon - 500 Server Error
  body
    .page
      .container
        h1.error__digit 500
        h2.error__text Мы уже фиксим
        a.error__backRef(href="../MainPage/index.pug") назад к чатам