<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="../../images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="../../images/favicon-16x16.png")
    link(rel="mask-icon" href="../../images/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    link(rel="shortcut icon" href="../../images/favicon.ico")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel='stylesheet', href='./ServerError.scss') 
    title Pigeon - 500 Server Error
  body
    .page
      h1.error__digit 500
      h2.error__text Мы уже фиксим
      a.error__backRef(href="../MainPage/index.pug") назад к чатам